server:
  port: ${PORT:8084}

spring:
  application:
    name: notification-service
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE:http://localhost:8761/eureka/}

# Gmail SMTP Configuration
# Use App Password from Google Account
spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: gadgetmart.77777@gmail.com
    password: ${GMAIL_APP_PASSWORD:dilh qufc vnbm ykui}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enabled: true
