server:
  port: 8084

spring:
  application:
    name: notification-service

  # Kafka Consumer Configuration
  kafka:
    bootstrap-servers: kafka.railway.internal:9092
    consumer:
      group-id: notification-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

  # Gmail SMTP Configuration
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_USERNAME}
    password: ${GMAIL_APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://discovery-service.railway.internal:8761/eureka/

# App Config
app:
  mail:
    from: "GadgetMart <gadgetmart.77777@gmail.com>"
    otp-expiry-minutes: 10
