# Maven
target/
*.jar
*.war
*.ear

# Node
node_modules/
.next/
out/
build/
.vercel
node_modules.zip

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Environment & Logs
.env
.env.local
.env.production
.env.development
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Project Specific
user-service-build.log
user-service-debug.log
error-service.log
mvnw
mvnw.cmd
.mvn/
