server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/public/user/**, /api/auth/**, /api/user/**
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/api/public/products/**, /api/products/**
        - id: search-service
          uri: lb://search-service
          predicates:
            - Path=/api/search/**
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/api/orders/**
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/payments/**

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://discovery-service.railway.internal:8761/eureka/
