server:
  port: 8083

spring:
  application:
    name: search-service
  elasticsearch:
    uris: http://elasticsearch.railway.internal:9200
  data:
    elasticsearch:
      repositories:
        enabled: true

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://discovery-service.railway.internal:8761/eureka/
