spring:
  elasticsearch:
    uris: ${ELASTICSEARCH_URIS:http://localhost:9200}

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}
stage 4264
