server:
  port: 8081

spring:
  application:
    name: user-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/gadgetmart_user}
    username: ${SPRING_DATASOURCE_USERNAME:gadmun}
    password: ${SPRING_DATASOURCE_PASSWORD:gm_password_2026}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  data:
    redis:
      host: redis.railway.internal
      port: 6379

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://discovery-service.railway.internal:8761/eureka/

app:
  jwt:
    secret: ${JWT_SECRET:gadgetmart-super-secret-jwt-key-for-oracle-cloud-2026-production-key}
    expiration-ms: 86400000  # 24 hours
  otp:
    ttl-minutes: 10
